* {
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: white
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: rgb(125, 125, 238);
    border: 1px solid;
    padding: 50px;
}

form input {
    display: block;
    width:100%;
}

.p-resultado {
    background: cadetblue;
    padding: 10px 20px;
}

.bad {
    background: crimson;
    padding: 10px 20px;
}